/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 /* #clockdiv {
  height:  300px;
  width: 100%;
  text-align: center;
  border: 2px solid black;
} */

body{
    text-align: center;
    /* background: #00ECB9; */
  font-family: sans-serif;
  font-weight: 100;
}

.toto{
  /* position: relative; */
        display: inline-block;
        width:25px;
        height:25px;
}

.inspiration {
  height: 500px;
  width: 100%;
  background-image: url('surfer_girl_pomodoro.jpg') ; 
  background-size: cover;
  background-size: 100%;
}

#clock {
  height: 100px;
  width: 33%;
  /* text-align: center; */
 /*  border: 1px solid white; */
  margin: 0 auto;
  padding-top: 60px;
  font-family: Arial;
  font-size: 60px;
  color: white;
}

 .introtag {
  font-size: 40px;
  color: #00bf96;
 }

 .quote {
  font-size: 20px;
  font-family: Arial;
  color: white;
 }

h1{
  color: black;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.records-of-sessions {
  height: 400px;
  width:  100%;
  border:  2px solid #00BF96;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-entry {
  height: 300px;
  width: 25%;
  margin: 0 auto;
  border: 2px solid #24c3ce;
}

.latestworksessions {
  text-align: center;
  margin: 0 auto;
}

.liveandwork {
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-left: -800px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #00bf96;

}

.travelersandlocals {
  display: inline-block;
  height: 40px;
  width: 100px;
  margin-left: 40px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #00bf96;
}

.cinegears {

  display: inline-block;
  height: 40px;
  width: 100px;
  margin-left: 80px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: #00bf96;

}


